/* ========
Layout 
======== ******************************************************************** */

/* eliminates a lot of the issues that come from collapsing margins on their own
 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol {
margin: 0 0 1em 0;   
}
* { /*  on an element, padding and border are included in the width and height  */
  box-sizing: border-box;
}

/* *****************************************************************************
TO DEFAULT
  ##Device = Laptops, Desktops
  ##Screen = B/w 1155px to 1280px
@media (max-width: 1280px) and (min-width: 1155px) */
  
.content{
  max-width: 90%;
  margin: 0 5%;
}
.container{
  background-image: url('../images/header.jpg');
  background-position: center;
  position: relative;
  height: 25em;
  padding-top: 3em;
  display: flex;
}
.logo{
  width: 100px;
  align-items: center;
  flex: 0 0 100px;
  margin-left: 2em;
  position: relative;
  animation: logoMotion 2s ease-out 4s;
}

@keyframes logoMotion {
  0% { margin-top: 4em; }
  100% { margin-top: 0em; }
}

header{
  display: flex;
}
.navBar{
  flex: 0.7 0.2 40em;
  margin: 2.5em 1em 0 2em;
  justify-content: space-around;
  display: flex;
  list-style: none;
}
.itemMenu a{
  color:#5a5a5a;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.itemMenu a:hover{
  color: #ff7b69;
}
.fa-solid{
  margin-right: 0.6em;
}
.social{
  justify-content: space-around;
  flex: 0 0.1 5em;
  display: flex;
  margin: 2.5em 0 0 1em;
}
.socialIcon a{
  color:#5a5a5a;
  text-decoration: none;
  margin: 0 1.5em;
}
.socialIcon a:hover{
  color: #ff7b69;
}
.mottoBack{
  position: absolute;
  background-color: #e2e2e2;
  opacity: 0.6;
  width: 80%;
  bottom: 0;
  left: 10%;
  height: 8em;
}
.motto{
  color:#df5d2e;
  text-align: center;
  font-size: 2em;
  padding-top: 1em;
  font-family: 'Sorts Mill Goudy', serif;
  animation: mottoMotion 4s ease-out;
}

@keyframes mottoMotion {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

main{
  display:flex;
  margin: 0.6em 0 0;
}
.news{
  width: 75%;
  background-color: #cecece;
  flex-grow: 3;
  margin-right: 0.6em;
  padding: 0.6em;
}
.columns{
  column-count: 2;
  column-gap: 0.6em;
}
article{
  background-color: #ffffff;
  padding: 0.6em;
  margin-bottom: 0.6em;
}
.marcImatge{
  position: relative;
}
.imatge{
  width:100%;
  height: 15em;
  object-fit: cover;
}
.date{
  position: absolute;
  bottom: -0.7em;
  left: 0.5em;
  color:#ffeed9;
  text-shadow: 0.04em 0.04em #5a5a5a;
  font-weight: 300;
  font-size: 1.1em;
  padding: 0.5em 0;
  font-family: 'Roboto', sans-serif;
}
h2{
  background-color:#ff7b69;
  padding: 0.5em 0 0 0.2em;
  color:#ffffff;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}
.description{
  margin: 0 0.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.readMore{
  margin: 1.5em 0.5em;
  font-family: 'Roboto', sans-serif;
}
.readMore a{
  color:#5a5a5a;
  font-weight: 700;
  text-decoration: none;
}
.readMore a:hover{
  color: #ff7b69;
}
.quotation{
  text-align:center;
  color:#5a5a5a;
  font-size: 1.2em;
  padding: 1em 1em 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
aside{
  background-color: #cecece;
  width: 20%;
  text-align: center;
  padding: 3em 1em 0;
}
h3{
  font-family: 'Roboto', sans-serif;
}
aside > p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
  footer{
  background-color: #cecece;
  margin: 0.6em 0;
}
.copyright{
  color:#5a5a5a;
  background-color: #e9e9e9;
  margin: 0 0.6em;
  padding: 0.5em 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* *****************************************************************************
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  .navBar{
    flex: 0.7 2 40em;
    margin: 2.5em 0em 0 3em;
    justify-content: space-around;
  }
  .itemMenu a{
    margin-right: 4em;
  }
  .social{
    flex: 0.1 0.4 5em;
    margin: 2.5em 0em 0 1em;
  }
  .socialIcon{
    margin-right: 0.6em;
  }
  main{
    display: block;
  }
  .news{
    display: flex;
    width: 100%;
    margin-bottom: 0.6em;
    margin-right: 0em;
    padding-bottom: 0em;
    padding-left: 0.3em;
  }
  .quotation{
    order: -1;
  }
  .news > .columns{
    margin: 0 0.3em;
  }
  article > .columns{
    column-count: 1;
  }
  aside{
    width: 100%;
    padding: 2em;
  }
  aside > h3{
    font-size: 1.4em;
    font-variant: small-caps;
  }
  aside > p{
    font-weight: 600;
  }
}

/* *****************************************************************************
/*   ##Device = Tablets, Ipads
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1154px) and (min-width: 768px) {

  .logo{
    width: 90px;
    flex: 0 0 90px;
  }
  .header{
    position: relative;
  }
  .navBar{
    position: absolute;
    display: inline-block;
    margin: 0;
    right: 2em;
  }
  .social{
    position: absolute;
    right: 10em;
    margin: 0;
  }
  .socialIcon a{
    display: inline-block;
    margin: 0 0.6em;
  }
  main{
    display: block;
  }
  article > .columns{
    column-count: 1;
  }
  .news{
    width: 100%;
    display: block;
    margin-bottom: 0.6em;
  }
  aside{
    width: 100%;
    padding: 2em;
  }
  aside > h3{
    font-size: 1.4em;
    font-variant: small-caps;
  }
  aside > p{
    font-weight: 600;
  }
}

/* *****************************************************************************
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 767px) and (min-width: 481px) {
  
  .content{
    max-width: 100%;
  }
  .container{
    height: 28em;
  }
  .logo{
    width: 80px;
    flex: 0 0 80px;
  }
  .header{
    position: relative;
  }
  .navBar{
    position: absolute;
    display: inline-block;
    margin: 0;
    right: 1em;
    padding-top: 2em;
  }
  .social{
    position: absolute;
    right: 0em;
    margin: 0;
  }
  .socialIcon a{
    display: inline-block;
    margin: 0 0.6em;
  }
  .motto{
    font-size: 1.5em;
    padding-top: 1.5em;
  }
  .columns{
    column-count: 1;
  }
  main{
    display: block;
  }
  article > .columns{
    column-count: 1;
  }
  .news{
    width: 100%;
    display: block;
    margin-bottom: 0.6em;
  }
  aside{
    width: 100%;
    padding: 2em;
  }
  aside > h3{
    font-size: 1.4em;
    font-variant: small-caps;
  }
  aside > p{
    font-weight: 600;
  }
}

/* *****************************************************************************
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w to 479px
*/

@media (max-width: 480px) {
  
  .content{
    max-width: 100%;
  }
  .logo{
    width: 60px;
    flex: 0 0 60px;
  }
  .header{
    position: relative;
  }
  .navBar{
    position: absolute;
    display: inline-block;
    margin: 0;
    right: 1em;
    padding-top: 2em;
  }
  .itemMenu{
    font-size: small;
  }
  .social{
    position: absolute;
    right: 0em;
    margin: 0;
  }
  .socialIcon a{
    display: inline-block;
    margin: 0 0.6em;
  }
  .motto{
    font-size: 1.3em;
    padding-top: 1.3em;
  }
  .columns{
    column-count: 1;
  }
  main{
    display: block;
  }
  article > .columns{
    column-count: 1;
  }
  .news{
    width: 100%;
    display: block;
    margin-bottom: 0.6em;
  }
  aside{
    width: 100%;
    padding: 2em;
  }
  aside > h3{
    font-size: 1.4em;
    font-variant: small-caps;
  }
  aside > p{
    font-weight: 600;
  }
}